.inputContainer{
    padding: 40px;
    margin: auto;
}

input{
    width:60%;
    height: 30px;
    margin: 10px 10px;
    border-radius: 10px;
}

.title{
    font-size: 60px;
    margin-left: 10px;
}

.resultData{
    padding: 40px;
}

.resultContainer{
    margin:10px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.textLine{
    display: flex;
    flex-direction: row;
    color: black;
    flex: 1;
}

.answered{
    width:10%;
    color: green;
}

.notanswered{
    width:10%;
    color: red;
}

.qTitle{
    width:90%;
    float: left;
    font-weight: bold;
}

*{
    text-decoration: none;
}